.v2ex-card {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 250px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);

    &:before {
        top: -16px;
        right: 118px;
        left: auto;
        position: absolute;
        display: inline-block;
        content: '';
        border: 8px solid transparent;
        border-bottom-color: rgba(27, 31, 35, 0.15);
    }

    &:after {
        top: -14px;
        right: 119px;
        left: auto;
        border: 7px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        display: inline-block;
        content: '';
    }

    &.vc-hide {
        display: none;
    }
}
